
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto:wght@100;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}
body{
    background: linear-gradient(90deg,#a7dd50,#1e8cbe);
    width: 100%;
    height: 100vh;
    position: relative;


}
.main-div{
    background-color: #eceff0;
    padding: 30px;
    width: 50%;
    border: #1d89bb;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2); 
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
h4{
    font-size:1.5rem;
    margin-bottom:.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
form input{
    margin: 10px 0;
    outline: none;
    border: 1px solid #1e8cbe;
}
form input.box{
    width: 90%;
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
}
form input.button{
    font-size: 1rem;
    padding: 12px 20px;
    background-color: #1d89bb;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
}
h5{
    background-color: #FFD4CD;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 0;
}
.feedback{
    display: none;
}
.show{
    display: block;
}
.Message-content{
    color: #4B830A;
}
@media(max-width:600px){
    .main-div{
        width: 90%;
    }
}
@media(min-width:800px){
    .main-div{
        width: 50%;
    }
}
